<h2 class="center-align white-text"><a class="white-text">Create An Event</a></h2>

<div class='container' style="opacity:.9">
  <div class='card-panel'>
    <form ng-submit="submitEvent()">
      <div class="container">
        <div class="row">
          <div class="col s3">
            <div class='input-field'>
              <input type="date" class="datepicker" placeholder="date" ng-model="event.date">
            </div>
          </div>
        </div>
      <div class="row">
        <div>
          <div class='input-field'>
            <input type="text" placeholder="event name" ng-model="event.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input type="text" placeholder="host" ng-model="event.creator">
        </div>
      </div>
      <div class="row">
        <a ui-sref="dashboard.guestlist" ui-sref-active="hide" class="signup brown darken-3 waves-effect waves-light btn">Create A Guestlist</a>
        <input type="submit" class="signup brown darken-3 waves-effect waves-light btn" value="Create Event!">
      </div>
      <div class="row">
        <div>Invited Guests:
          <span ng-repeat="name in invited">{{name}}, </span>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>
