<div class='container' style="opacity:.9">
  <div class='card-panel'>
    <h5 class="">Create a feast</h5>
    <form class='col s12'>
      <div class="row">
        <div class='input-field col s10'>
          <input type="text" placeholder="event name" >
        </div>
          <div class='input-field col s2'>
            <input type="date" class="datepicker" placeholder="date">
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" placeholder="message to invitees">
        </div>
      </div>
    </form>
  </div>
</div>
