

<div>
  <nav class="black z-depth-2" style="height:75px">
    <div class="black left">
      <a ui-sref="dashboard" class="white-text" style="font-size:35pt;padding-left:10px">WeFeast</a>
    </div>
    <div class="row">
      <style>
        .currentstate {text-shadow: 10 10 10px #FF0000;}
      </style>
      <div class="col s12 m3 l1 push-l5"><a ui-sref="dashboard.createevent" >Create Event</a></div>
      <div class="col s12 m3 l1 push-l5"><a ui-sref="dashboard.showevent" >Show Events</a></div>
      <div class="col s12 m3 l1 push-l5"><a ui-sref="dashboard.optionform" >Dining Solo?</a></div>
      <div class="col s12 m3 l1 push-l5"><a ui-sref="dashboard.profile" ui-sref-active="currentstate">View Profile</a></div>
      <div class="col s12 m3 l1 push-l5"><a ui-sref='main.buttons' ng-click="signout()">Log Out</a></div>
    </div>
  </nav>
  <!-- <h2 class="center-align white-text"><a class="white-text">Dashboard</a></h2> -->
  <div ui-view></div>
</div>
