<div>
  <h2 class="center-align white-text"><a class="white-text">Dashboard</a></h2>
  <!-- <div class="container"><input type="text" name="search" placeholder="Search for friends"></div> -->
  <!-- <aside class="left">
    <ul>
      <li><a ui-sref=".optionform" >Poll it</a></li>
      <li><a ui-sref=".createevent" >Create Event</a></li>
      <li><a ui-sref=".showevent" >Show Event</a></li>
      <li><a ui-sref=".profile" >View Profile</a></li>
      <li><a>Search</a></li>
    </ul>
  </aside> -->
  <div ui-view></div>
</div>
