
<div class="container" style="opacity:.95" class="flow-text">
  <h2 class="center-align blue-grey darken-4 white-text" style="margin-bottom:-7px;border-top-left-radius:10px;border-top-right-radius:10px;"><a class="white-text">Edit User Profile</a></h2>
  <div class="card-panel hoverable" style="border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
    <form>
      <div class='row'>
        <div class='input-field col s6'>
          <input class='' type='text' name='nfirst' value='' placeholder='{{user.firstname}}' ng-model='editform.firstname'>
        </div>
        <div class='input-field col s6'>
          <input class='' type='text' name='nlast' value='' placeholder='{{user.lastname}}' ng-model='editform.lastname'>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s8'>
          <input class='' type='text' value='' placeholder='{{user.email}}' ng-model='editform.email'>
        </div>
        <div class='input-field col s4'>
          <input class='' type='text' value='' placeholder='{{user.location}}' ng-model='editform.location'>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m3 l2"><h6>Dietary Needs:</h6></div>
        <div class="col s6 m3 l2">
          <input checked type='checkbox' id='vegetarian' ng-model='editform.vegetarian' />
          <label for='vegetarian'>Vegetarian</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='vegan' ng-model='editform.vegan' />
          <label for='vegan'>Vegan</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='glutenfree' ng-model='editform.glutenFree' />
          <label for='glutenfree'>Gluten-Free</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='kosher' ng-model='editform.kosher' />
          <label for='kosher'>Kosher</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m3 l2">
          <h6>Favorite Foods:</h6>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='burgers' ng-model="editform.burgers" checked >
          <label for='burgers'>Burgers</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='thai' ng-model="editform.thai" />
          <label for='thai'>Thai</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='indian' ng-model="editform.indian" />
          <label for='indian'>Indian</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='koreanbbq' ng-model="editform.koreanbbq" />
          <label for='koreanbbq'>Korean BBQ</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='bbq' ng-model="editform.bbq" />
          <label for='bbq'>Barbecue</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m3 l2">
          <input type='checkbox' id='french' ng-model="editform.french" />
          <label for='french'>French</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='pubgrub' ng-model="editform.pubgrub" />
          <label for='pubgrub'>Pub Grub</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='szechuan' ng-model="editform.szechuan" />
          <label for='szechuan'>Szechuan</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='jamaican' ng-model="editform.jamaican" />
          <label for='jamaican'>Jamaican</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='soul' ng-model="editform.soul" />
          <label for='soul'>Soul</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='sushi' ng-model="editform.sushi" />
          <label for='sushi'>Sushi</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m3 l2">
          <input type='checkbox' id='steakhouse' ng-model="editform.steakhouse" />
          <label for='steakhouse'>Steakhouse</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='vietnamese' ng-model="editform.vietnamese" />
          <label for='vietnamese'>Vietnamese</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='mexican' ng-model="editform.mexican" />
          <label for='mexican'>Mexican</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='cantonese' ng-model="editform.cantonese" />
          <label for='cantonese'>Cantonese</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='irish' ng-model="editform.irish" />
          <label for='irish'>Irish</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='greek' ng-model="editform.greek" />
          <label for='greek'>Greek</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m3 l2">
          <input type='checkbox' id='italian' ng-model="editform.italian" />
          <label for='italian'>Italian</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='sandwiches' ng-model="editform.sandwiches" />
          <label for='sandwiches'>Sandwiches</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='bagels' ng-model="editform.bagels" />
          <label for='bagels'>Bagels</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='pakistani' ng-model="editform.pakistani" />
          <label for='pakistani'>Pakistani</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='ethiopian' ng-model="editform.ethiopian" />
          <label for='ethiopian'>Ethiopian</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='salad' ng-model="editform.salad" />
          <label for='salad'>Salad</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m3 l2">
          <input type='checkbox' id='ramen' ng-model="editform.ramen" />
          <label for='ramen'>Ramen</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='coffee' ng-model="editform.coffee" />
          <label for='coffee'>Coffee</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='doughnuts' ng-model="editform.doughnuts" />
          <label for='doughnuts'>Doughnuts</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='german' ng-model="editform.german" />
          <label for='german'>German</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='russian' ng-model="editform.russian" />
          <label for='russian'>Russian</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='deli' ng-model="editform.deli" />
          <label for='deli'>Delicatessan</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m3 l2">
          <input type='checkbox' id='seafood' ng-model="editform.seafood" />
          <label for='seafood'>Seafood</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='singaporean' ng-model="editform.singaporean" />
          <label for='singaporean'>Singaporean</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='lebanese' ng-model="editform.lebanese" />
          <label for='lebanese'>Lebanese</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='fusion' ng-model="editform.fusion" />
          <label for='fusion'>Fusion</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='afghan' ng-model="editform.afghan" />
          <label for='afghan'>Afghan</label>
        </div>
        <div class="col s6 m3 l2">
          <input type='checkbox' id='creole' ng-model="editform.creole" />
          <label for='creole'>Creole</label>
        </div>
      </div>
      <br>
      <div class="row" style="padding-left:10px;padding-right:10px;">
        <h6 class="left left-align"><a ui-sref="dashboard.profile">Back to profile</a></h6>
        <input type="submit" ng-click="activate(editform)" class="right waves-effect waves-light btn blue-grey darken-4" value="Save Changes" style="border-radius:5px;" >
      </div>
    </form>
  </div>
</div>
