

<div class="container hoverable" style="opacity:.9">
  <h2 class="center-align blue-grey darken-4 white-text" style="margin-bottom:-7px;border-top-left-radius:10px;border-top-right-radius:10px;"><a class="white-text">Recommendations</a></h2>
  <div ng-if="allEventList" class="card-panel hoverable" style="height:500px;overflow:scroll;">
    <div class="row">
      <ul class="col s12 m6 l4">
        <li ng-repeat="place in recommendationsBinLeft">
          <div class="card-panel hoverable" style="height:200px;cursor:pointer;" ng-click="selectRecommendation(place);" ui-sref="dashboard.singlerecommendationview">
              <div class="row">
                <div style="padding-left:5px;">
                  <img src="{{place.image_url}}" class="right" />
                    <div style="font-size:18pt;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-top:0px;margin-bottom:0px;">{{place.name}}</div>
                    <br><img src="{{place.rating_img_url}}" />
                    <br><span style="font-size:12pt;">{{place.address}}</span>
                    <br><span style="font-size:12pt;">{{place.city}}</span>
                    <br><span style="font-size:12pt;">{{place.phone}}</span>
                </div>
              </div>
          </div>
        </li>
      </ul>
      <ul class="col s12 m6 l4">
        <li ng-repeat="place in recommendationsBinCenter">
          <div class="card-panel hoverable" style="height:200px;cursor:pointer;" ng-click="selectRecommendation(place);" ui-sref="dashboard.singlerecommendationview">
              <div class="row">
                <div style="padding-left:5px;">
                  <img src="{{place.image_url}}" class="right" />
                    <div style="font-size:18pt;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-top:0px;margin-bottom:0px;">{{place.name}}</div>
                    <br><img src="{{place.rating_img_url}}" />
                    <br><span style="font-size:12pt;">{{place.address}}</span>
                    <br><span style="font-size:12pt;">{{place.city}}</span>
                    <br><span style="font-size:12pt;">{{place.phone}}</span>
                </div>
              </div>
          </div>
        </li>
      </ul>
      <ul class="col s12 m6 l4">
        <li ng-repeat="place in recommendationsBinRight">
          <div class="card-panel hoverable" style="height:200px;cursor:pointer;" ng-click="selectRecommendation(place);" ui-sref="dashboard.singlerecommendationview">
              <div class="row">
                <div style="padding-left:5px;">
                  <img src="{{place.image_url}}" class="right" />
                    <div style="font-size:18pt;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-top:0px;margin-bottom:0px;">{{place.name}}</div>
                    <br><img src="{{place.rating_img_url}}" />
                    <br><span style="font-size:12pt;">{{place.address}}</span>
                    <br><span style="font-size:12pt;">{{place.city}}</span>
                    <br><span style="font-size:12pt;">{{place.phone}}</span>
                </div>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
