
<div class="container hoverable" style="opacity:.95" class="flow-text">
  <h2 class="center-align blue-grey darken-4 white-text" style="margin-bottom:-7px;border-top-left-radius:10px;border-top-right-radius:10px;"><a class="white-text">Find a Restaurant</a></h2>
  <div class="card-panel" style="border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
    <form ng-submit="search(formData)">
      <input type="text" class="" placeholder="location" ng-model="formData.location">
      <br>
      <br>
      <div class="row">
        <div class="col s12 m12 l2">
          <h6>Favorite Foods:</h6>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='burgers' ng-change="toggleChoice(formData.burgers)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.burgers) === -1" ng-model="formData.burgers" />
          <label for='burgers'>Burgers</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='thai' ng-change="toggleChoice(formData.thai)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.thai) === -1" ng-model="formData.thai" />
          <label for='thai'>Thai</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='indian' ng-change="toggleChoice(formData.indian)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.indian) === -1" ng-model="formData.indian" />
          <label for='indian'>Indian</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='koreanbbq' ng-change="toggleChoice(formData.koreanbbq)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.koreanbbq) === -1" ng-model="formData.koreanbbq" />
          <label for='koreanbbq'>Korean BBQ</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='bbq' ng-change="toggleChoice(formData.bbq)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.bbq) === -1" ng-model="formData.bbq" />
          <label for='bbq'>Barbecue</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3 l2">
          <input type='checkbox' id='french' ng-change="toggleChoice(formData.french)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.french) === -1" ng-model="formData.french" />
          <label for='french'>French</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='pubgrub' ng-change="toggleChoice(formData.pubgrub)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.pubgrub) === -1" ng-model="formData.pubgrub" />
          <label for='pubgrub'>Pub Grub</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='szechuan' ng-change="toggleChoice(formData.szechuan)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.szechuan) === -1" ng-model="formData.szechuan" />
          <label for='szechuan'>Szechuan</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='jamaican' ng-change="toggleChoice(formData.jamaican)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.jamaican) === -1"ng-model="formData.jamaican" />
          <label for='jamaican'>Jamaican</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='soul' ng-change="toggleChoice(formData.soul)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.soul) === -1" ng-model="formData.soul" />
          <label for='soul'>Soul</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='sushi' ng-change="toggleChoice(formData.sushi)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.sushi) === -1" ng-model="formData.sushi" />
          <label for='sushi'>Sushi</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3 l2">
          <input type='checkbox' id='steakhouse' ng-change="toggleChoice(formData.steakhouse)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.steakhouse) === -1"ng-model="formData.steakhouse" />
          <label for='steakhouse'>Steakhouse</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='vietnamese' ng-change="toggleChoice(formData.vietnamese)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.vietnamese) === -1"ng-model="formData.vietnamese" />
          <label for='vietnamese'>Vietnamese</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='mexican' ng-change="toggleChoice(formData.mexican)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.mexican) === -1" ng-model="formData.mexican" />
          <label for='mexican'>Mexican</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='cantonese' ng-change="toggleChoice(formData.cantonese)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.cantonese) === -1" ng-model="formData.cantonese" />
          <label for='cantonese'>Cantonese</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='irish' ng-change="toggleChoice(formData.irish)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.irish) === -1" ng-model="formData.irish" />
          <label for='irish'>Irish</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='greek' ng-change="toggleChoice(formData.greek)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.greek) === -1" ng-model="formData.greek" />
          <label for='greek'>Greek</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3 l2">
          <input type='checkbox' id='italian' ng-change="toggleChoice(formData.italian)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.italian) === -1" ng-model="formData.italian" />
          <label for='italian'>Italian</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='sandwiches' ng-change="toggleChoice(formData.sandwiches)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.sandwiches) === -1"ng-model="formData.sandwiches" />
          <label for='sandwiches'>Sandwiches</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='bagels' ng-change="toggleChoice(formData.bagels)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.bagels) === -1"ng-model="formData.bagels" />
          <label for='bagels'>Bagels</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='pakistani' ng-change="toggleChoice(formData.pakistani)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.pakistani) === -1"ng-model="formData.pakistani" />
          <label for='pakistani'>Pakistani</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='ethiopian' ng-change="toggleChoice(formData.ethiopian)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.ethiopian) === -1"ng-model="formData.ethiopian" />
          <label for='ethiopian'>Ethiopian</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='salad' ng-change="toggleChoice(formData.salad)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.salad) === -1" ng-model="formData.salad" />
          <label for='salad'>Salad</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3 l2">
          <input type='checkbox' id='ramen' ng-change="toggleChoice(formData.ramen)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.ramen) === -1" ng-model="formData.ramen" />
          <label for='ramen'>Ramen</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='coffee' ng-change="toggleChoice(formData.coffee)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.coffee) === -1" ng-model="formData.coffee" />
          <label for='coffee'>Coffee</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='doughnuts' ng-change="toggleChoice(formData.doughnuts)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.doughnuts) === -1" ng-model="formData.doughnuts" />
          <label for='doughnuts'>Doughnuts</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='german' ng-change="toggleChoice(formData.german)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.german) === -1" ng-model="formData.german" />
          <label for='german'>German</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='russian' ng-change="toggleChoice(formData.russian)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.russian) === -1" ng-model="formData.russian" />
          <label for='russian'>Russian</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='deli'ng-change="toggleChoice(formData.deli)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.deli) === -1" ng-model="formData.deli" />
          <label for='deli'>Delicatessan</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3 l2">
          <input type='checkbox' id='seafood' ng-change="toggleChoice(formData.seafood)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.seafood) === -1" ng-model="formData.seafood" />
          <label for='seafood'>Seafood</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='singaporean' ng-change="toggleChoice(formData.singaporean)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.singaporean) === -1" ng-model="formData.singaporean" />
          <label for='singaporean'>Singaporean</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='lebanese' ng-change="toggleChoice(formData.lebanese)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.lebanese) === -1" ng-model="formData.lebanese" />
          <label for='lebanese'>Lebanese</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='fusion' ng-change="toggleChoice(formData.fusion)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.fusion) === -1" ng-model="formData.fusion" />
          <label for='fusion'>Fusion</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='peruvian' ng-change="toggleChoice(formData.peruvian)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.peruvian) === -1" ng-model="formData.peruvian" />
          <label for='peruvian'>Peruvian</label>
        </div>
        <div class="col s12 m3 l2">
          <input type='checkbox' id='creole' ng-change="toggleChoice(formData.creole)" ng-disabled="formData.Array.length > 0 && formData.Array.indexOf(formData.creole) === -1" ng-model="formData.creole" />
          <label for='creole'>Creole</label>
        </div>
      </div>
      <input type="submit" class="right waves-effect waves-light btn blue-grey darken-4" value="Find It" style="border-radius:5px;" >
      <br>
      <br>
    </form>
  </div>

</div>
