<nav class="white z-depth-2" style="height:75px">
  <div class="white left">
    <a ui-sref="main" class="black-text" style="font-size:35pt;padding-left:10px">WeFeast</a>
  </div>
</nav>
<div style="background-color:black;opacity:.7">
  <div class="container">
    <div style="height:100px;background-color:black">
    </div>
    <div style="width:30%;margin:0 auto;">
      <img src="../../assets/jwcup_e0.gif" alt='boxLoadingGif'>
    </div>
  </div>
  <div style="height:500px;background-color:black;overflow:hidden">
  </div>
</div>
