<div>
  <form ng-submit="">
    <label>Location</label>
    <input type="text" name="location" value="San Francisco">
    <label>Option 1</label>
    <input type="text" name="food-0" value="Sushi">
    <label>Option 2</label>
    <input type="text" name="food-1" value="Mexican">
    <label>Option 3</label>
    <input type="text" name="food-2" value="Barbeque">
    <label>Vegitarian</label>
    <select name="preference">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
    <label>Search By:</label>
    <select name="searchBy">
      <option value="Stars">Stars</option>
      <option value="price">Price</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</div>
