<h2 class="center-align white-text"><a class="white-text">Options Menu</a></h2>

<div class="container hoverable" style="opacity:.9">
  <div class="card-panel">
    <div class="container">
      <div class="card-panel hoverable">
        <h3 class="center-align"><a class="black-text" ui-sref="dashboard.findrestaurant">Find a great place to eat</a></h3>
      </div>
      <div class="card-panel hoverable">
        <h3 class="center-align"><a class="black-text"  ui-sref="dashboard.findfriends">Find friends on WeFeast</a></h3>
      </div>
  </div>
</div>
