
<div class="container" style="opacity:.9">
  <div class="container">
    <h2 class="center-align blue-grey darken-4 white-text" style="margin-bottom:-7px"><a class="white-text">Your Profile</a></h2>
    <div class="card-panel hoverable">
      <p>Name: {{user.firstname}} {{user.lastname}} </p>
      <p>Email: {{user.email}}</p>
      <p>Location: {{user.location}}</p>
      <p>Food preferences: {{user.preferences}}</p>
      <p>Dietary restrictions: {{user.dietrestrictions}} </p>
      <br>
      <a ui-sref="dashboard.editprofile" class="right align-right signup blue-grey darken-4 waves-effect waves-light btn">Edit Profile</a>
      <br>
      <br>
    </div>
  </div>
</div>
