
<div class="container" style="opacity:.9;">
  <h2 class="center-align blue-grey darken-4 white-text" style="margin-bottom:-7px;border-top-left-radius:10px;border-top-right-radius:10px;"><a class="white-text">Your Search Results</a></h2>
  <div class="card-panel" style="height:500px;overflow:scroll;">
    <div class="row">
      <ul class="col s12 m12 l6">
        <li ng-repeat="results in databinLeft">
          <div class="card-panel hoverable">
            <div class="row">
              <div style="padding-left:5px;">
                <img src="{{results.image_url}}" class="right" />
                  <div style="font-size:18pt;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-top:0px;margin-bottom:0px;">{{results.name}}</div>
                  <br><img src="{{results.rating_img_url}}" />
                  <br><span style="font-size:12pt;">{{results.location.address[0]}}</span>
                  <br><span style="font-size:12pt;">{{results.location.city}}</span>,&nbsp;<span style="font-size:12pt;">{{results.location.state_code}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="col s12 m12 l6">
        <li ng-repeat="results in databinRight">
          <div class="card-panel hoverable">
            <div class="row">
              <div>
                <img src="{{results.image_url}}" class="right" />
                <div style="font-size:18pt;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:0px">{{results.name}}</div>
                  <br><img src="{{results.rating_img_url}}" />
                  <br><span style="font-size:12pt;">{{results.location.address[0]}}</span>
                  <br><span style="font-size:12pt;">{{results.location.city}}</span>,&nbsp;<span style="font-size:12pt;">{{results.location.state_code}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
