<h2 class="center-align white-text"><a class="white-text">Events Dashboard</a></h2>

<div class="container hoverable" style="opacity:.9">
  <div class="card-panel hoverable">
    <div class="row">
      <div class="card-panel col s4 hoverable">event
      </div>
      <div class="card-panel col s4 hoverable">event
      </div>
      <div class="card-panel col s4 hoverable">event
      </div>
    </div>
  <div class="row">
    <div class="card-panel col s4 hoverable">event
    </div>
    <div class="card-panel col s4 hoverable">event
    </div>
    <div class="card-panel col s4 hoverable">event
    </div>
  </div>
</div>

</div>
