<div class="container">
  <div class="card-panel hoverable">
    <form ng-submit='login()'>
      <input type="text" class="" placeholder="username">
      <input type="text" class="" placeholder="email">
      <input type="password" class="" placeholder="password">
      <input type="password" class="" placeholder="confirm password">
      <input type="submit" class="" value="Sign Up"><h6 class="right right-align">Already a member? <a ui-sref="main.signin">Click here </a>to sign in</h6>
    </form>
  </div>
</div>
