<h2 class="center-align white-text"><a class="white-text">{{singleEvent.name}}</a></h2>

<div class="container">
  <div class="container">
    <div class="card-panel hoverable" style="opacity:.9">
      <img src="assets/photos/invited.jpg" style="height:250px;margin-right:10px;" class="left" />
      <h4>{{singleEvent.name}}</h4>
      <h4>{{singleEvent.date | date: 'fullDate'}}</h4>
      <h5>{{singleEvent.date | date: 'shortTime'}}</h4>
      <h5 ng-if="!singleEvent.userResponseStatus">You have not responded to this invitation</h5>
      <h6 ng-if="!singleEvent.userResponseStatus"><a ui-sref="dashboard.eventresponseform({eventData:singleEvent})">RSVP Now!</a></h6>
      <h5 ng-if="singleEvent.userResponseStatus">You have responded to this invitation</h5>
      <br>
      <h6 class="right" style="opacity:1"><a ui-sref="dashboard.showevent">Back to All Events</a></h6>
      <br>
    </div>
  </div>
</div>
